h1.titulo Ejemplo con Jade

h2.creditos Desarrollado por #{author}

p Jade es un lenguaje de plantillas que se usa comunmente con:

ul
    li #[a(href="http://nodejs.org/en/") Node.js]
    li #[a(href="http://expressjs.com/es/") Express]

